.container-login{
    width: 90%;
    height: 90%;
    padding:5%;
    
    display: grid;
    grid-template-columns: [column-one] 10% [column-two] auto [ colunm-three] 10%;
    grid-template-rows: [row-one] 60px [row-two] 80px [row-three] auto [row-four] 160px [row-five] 60px;
}

h1{
    font-size: 1.5em;
}

p{
    text-align: left;
}

a:link {
    text-decoration: none;
    color:black;
}

a:visited {
    text-decoration: none;
    color:black;
}

#sponsor_logo{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end: 1;
}

#logo{
    width:70%;
    max-width: 500px;
}

#heading{
    grid-column: 1 / span 2;
    grid-row-start:2;
    grid-row-end: 2;
}

#login-tab{
    grid-column-start:2;
    grid-column-end:2;
    grid-row-start:3;
    grid-row-end:4;
    padding: 7%;
    background-color:#B59E58;
    margin: 10px;
}

#partnership{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:4;
    grid-row-end:4;
    padding: 10%;
    background-color:white;
    margin:10px;
}

#quartet{
    width:100%;
}


td{
    width:200px;
    display:inline-block;
    overflow: hidden;
}

#login-button{
    margin:10px;
    position: relative;
    bottom: 0%;
    left:65%;
}

#register{
    grid-column-start:2;
    grid-column-end:2;
    grid-row-start:4;
    grid-row-end:4;
    padding: 10%;
    background-color:#B59E58;
    margin:10px;
}

#register-button{
    position: relative;
    top: 15%;
    left:30%;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   all other pages >>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.container{
    width: 90%;
    height: 90%;
    padding:5%;

    display: grid;
    grid-template-columns: [column-one] 10% [column-two] auto [ colunm-three] 10%;
    grid-template-rows: [row-one] 40px [row-two] 60px [row-three] 300px [row-four] 180px [row-five] 60px;
}

#menu-button{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:5;
    grid-row-end: 5;

/*  Buttons displayed as a grid */
    display: grid;
    grid-template-columns: [button-one] 20% [button-two] 20% [ button-three] 20% [button-four] 20% [button-five];
    grid-template-rows: auto;
}

#raised{
    text-align: center;
}

#profile-tab{
    grid-column-start:2;
    grid-column-end:2;
    grid-row-start:3;
    grid-row-end:4;
    padding: 7%;
    background-color:#B59E58;
    margin: 10px;
}

#update-button{
    margin:10px;
    position: relative;
    bottom: 5px;
    left:50%;
}

td1{
    width:200px;
    display:inline-block;
    overflow: hidden;
}

#current-dontation{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:4;
    grid-row-end:4;
    padding: 10%;
    background-color:#B59E58;
    margin:10px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<   Navigation Buttons >>>>>>>>>>>>>>>>>>>>>>>>>>>*/
#profile{
    grid-column: button-one;
}

#pro-icon{
    max-width:50%;
    margin:15px;
    border-radius: 30%;
}

#news{
    grid-column: button-two;
}

#news-icon{
    max-width:50%;
    margin:15px;
    border-radius: 30%;
}

#donate{
    grid-column: button-three;
}

#donate-icon{
    max-width:70%;
    margin:10px;
    border-radius: 30%;
}

#events{
    grid-column: button-four;
}

#events-icon{
    max-width:50%;
    margin:15px;
    border-radius: 30%;
}

#about{
    grid-column: button-five;
}

#about-icon{
    max-width:50%;
    margin:15px;
    border-radius: 5%;
}

/* google calendar  (events page)*/
#events-tab{
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:3;
    grid-row-end:5;
    background-color:white;
}

/* configuring the iframe used to position the google calendar agenda  (events page)*/
#agenda{
    width:90%;
    height:90%;
    border:0;
    position: relative;
    left:5%;
    top:5%;
}

/* news */
#news{
    overflow: hidden;
}

#registration-tab{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:3;
    grid-row-end:4;
    padding: 7%;
    background-color:#B59E58;
    margin: 10px;
}

#registration-button{
    margin:10px;
    position: relative;
    bottom: 10px;
    left:65%;
}

#about-tab{ 
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:3;
    grid-row-end:5;

    padding: 7%;
    background-color:white;
    margin: 10px;
    overflow:scroll;

/*  about displayed as a grid */
    display: grid;
    grid-template-columns: [logo] 30% [about-info] 70%;
    grid-template-rows:repeat(8,1fr);
   
}
/*<<<<<<<<<<<<<<<<<<<<<<    about details   >>>>>>>>>>>>>>>>>>>>>>>>*/
#fighting-chance{
    grid-column: logo / span 2;
    grid-row:1;

}

#fighting-chance-logo{
    max-width: 100%;
    border-radius: 5%;
}

#fighting-chance-title{
    grid-column: logo / span 2;
    grid-row:2;
    position: relative;
    text-align: center;
    margin: center;
}

#fighting-chance-info{
    grid-column: logo / span 2;
    grid-row:3;
    border: solid black;
    border-width: 0px 0px 2px 0px;
    padding-bottom:10px;
    text-align: center;
}

/*------------------------*/

#bristol-port{
    grid-column: logo / span 2;
    grid-row:4;

}

#bristol-port-logo{
    max-width: 100%;
    border-radius: 5%;
}

#bristol-port-title{
    grid-column: logo / span 2;
    grid-row:5;
    position: relative;
    text-align: center;
    margin: center;
}

#bristol-port-info{
    grid-column: logo / span 2;
    grid-row:6;
    border: solid black;
    border-width: 0px 0px 2px 0px;
    padding-bottom:10px;
    text-align: center;
}

/*more infos page*/
#fighting-chance-tab{ 
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:3;
    grid-row-end:5;

    padding: 7%;
    background-color:white;
    margin: 10px;
    overflow:scroll;
}

#bristol-port-tab{ 
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:3;
    grid-row-end:5;
    
    padding: 7%;
    background-color:white;
    margin: 10px;
    overflow:scroll;
}

/*donate Page*/

#donate-button{
    margin:10px;
    position: relative;
    bottom: 15px;
    left:50%;
}

#donate-tab{
    grid-column-start:2;
    grid-column-end:2;
    grid-row-start:3;
    grid-row-end:4;
    padding: 7%;
    background-color:#B59E58;
    margin: 10px;
}
/*terms and conditions*/
#tandc-tab{
    grid-column-start:2;
    grid-column-end:2;
    grid-row-start:3;
    grid-row-end:5;
    padding: 7%;
    background-color:#B59E58;
    margin: 10px;
    overflow:scroll;
}

#goback{
    margin: 10px;
    grid-row: 5;
}
